<div class="transition-fade mx-auto grid gap-2 justify-center items-center grid-cols-[repeat(auto-fit,_24%)]">
    <slot />
</div>
<!--script client:only>
const eCRD = document.querySelectorAll( '.imgCRD' );
const eFigs = document.querySelectorAll( '.imgFigs' );
if( eCRD.length > 0 )
{
    eCRD.forEach( eLink =>
    {
        eLink.addEventListener( 'click', () =>
        {
            if( eFigs.length > 0 )
            {
                eFigs.forEach( eImg =>
                {
                    if( eLink.classList[ 0 ] === eImg.classList[ 0 ] )
                    {
                        eImg.classList.add( 'activeIMG' );
                    } else { eImg.classList.remove( 'activeIMG' ); }

                });
            }
        });
    });
}
</script-->