---
import path from "path";
interface Props {
    id?: string
    src: string;
    class?: string;
    alt?: string
    basePath?: string
    bgDark?: string
}
import { Image } from 'astro:assets';

const {id, src, alt, bgDark, basePath = '/'} = Astro.props;
const className = Astro.props.class;

const isLocal = !(src.startsWith('/') || src.startsWith('http') || src.startsWith('https') || src.startsWith('data:'));

// TODO temporary workaround for images dynamic import {alt || ""}
// https://github.com/withastro/astro/issues/3373
let img;
if (isLocal) {
    const files = import.meta.glob<ImageMetadata>("../../**", { import: 'default' });
    let normalizedPath = path.normalize(path.join("../../", basePath, src)).replace(/\\/g, "/");
    img = await (files[normalizedPath])();
}

---
<div class:list={[className, 'overflow-hidden relative']}>
    <div class:list={[`transition absolute inset-0 bg-opacity-50 pointer-events-none`, {'dark:bg-black/10': (bgDark === 'true' )}]}></div>
    {isLocal && <Image src={img} alt="" class="w-full h-full object-center object-cover" />}
    {!isLocal && <img src={src} alt="" class="w-full h-full object-center object-cover" />}
</div>